.clear {clear:both}

.wrapper {
    height: 100%;
    color: white;
    overflow: auto;
    font-family: 'Noto Sans', sans-serif;
    /*background-attachment: fixed;
    background: url('../img/bsearch-bg.jpg') no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;*/
    background-color: #1595a8;
}
.center-block{
    margin-left: 12%;
    margin-right: 12%;
}

.search-result-header{

}
.search-result-header h1.title {
	font-size: 2.72em;
    margin-bottom: 0;
    font-weight: lighter;
    margin-top: 15px;
}
.search-result-header h1.title em{
    font-weight: normal;
}
.search-resume{
    font-weight: lighter;
    font-size: 1.4em;
    display: block;
    margin-bottom: 10px;
}
.search-resume em{
    font-weight: normal;
}
.bridge-card>div{
    border-radius: 2px !important;
}
.card-padder{
    padding: 16px;
}
.search-result-header__search{
	color: #241f20;
	width: 100%;
	border: 3px solid #e6e4df;
	background-color: rgba(255,255,255,.9);
	font-size: 1em;
	height: 2.5em;
	padding: 0 .7em 0 .4em;
	max-width: 600px;
	border-radius: 4px;
	font-family: proxima-nova-alt,Proxima Nova Alt,sans-serif;
}


.card {
	background-color: #fff;
	border-radius: .25rem;
	box-shadow: 0 1px 0 rgba(0,0,0,.25);
	padding: 2rem 2rem 1rem;
	margin: 0 auto 2rem;
	position: relative;
	border: 1px solid #e8e8e8;
}

.bridge-search-result-deck{
	/*flex-flow: row wrap;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.bridge-card {
    width: 32%;
    margin: 1%;
}
.bridge-card:nth-of-type(3n) {
    margin-right: 0;
}
.bridge-card:nth-of-type(3n+1) {
    margin-left: 0;
}

.bridge-card img.imgProfile{
    float: left;
    margin-right: 10px;
}
.bridge-card-resume{
    display: block;
}
.bridge-card-header {
	float: left;
    width: calc(95% - 40px);
}
.bridge-card-header h3 {
    color: #df5e8d;
	margin-top : 0px;
    margin-bottom: 0;
    font-size: 1.32em;
    display: block;
    line-height: 1em;
}
.bridge-card .user{
    display: block;
    text-align: right;
    color: #3d2261;
    font-size: 0.9em;
}

.bridge-card-description {
	height: 60px;
	border-bottom: 1px dotted #e6e6e6;
}

.search-result-content {
	margin-top: 2em;
}


#tag-suggestions {
	position: absolute;
	width: 90%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 150;
}

.tag-suggestion-box {
	position: relative;
	width: 90%;
	float: left;
	width: 30%;
  height: 90px;
  padding: 6px 12px;
  font-size: 10px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bridge-card-text{
    margin-top: 10px;
    height: 120px;
    overflow: hidden;
    margin-bottom: 10px;
}

input[type=search] {
    font-weight: lighter;
    font-size: 1.5em;
    color: rgba(255, 255, 255, .9);
    margin-top: 16px;
    background-color: transparent;
    height: 2em;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    width: calc(100% - 2px);
    margin-left:1px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0;
}
input[type=search]:focus {
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, .75);
  width: 100%;
}
input[type=search]::-webkit-input-placeholder {
    font-weight: lighter;
    color: rgba(255, 255, 255, .5);
}
input[type=search]::-moz-placeholder {  /* Firefox 19+ */
    font-weight: lighter;
    color: rgba(255, 255, 255, .5);
}
