/*	BUILD BRIDGE STYLES */

.build-bridge-container {
	position: relative;
	text-align: center;
}

.build-bridge-container h1{
	text-transform: uppercase;
	width: 15%;
}
.build-bridge-container h3{
	text-transform: uppercase;
}
.build-bridge-subtitle{
	font-size: 1.2em;
	margin: -10px 0 50px 0;
}

.build-bridge-inner-container {
	overflow: show;
	width: 90%;
	margin-right:auto;
	margin-left: auto;
}

.build-bridge-button {
	cursor:pointer;
}

.build-bridge-button img{
	height: 70px;
}

.build-bridge-container p{
	color: grey;
}

.build-bridge-button-or {
	width: 16%;
	padding: 55px 0 0 10px;
	text-transform: uppercase;
}

*[class^="build-bridge-button"] {
	float:left;
}

.datePickers{
	margin-top: .5em;
}

*[class$="-label"] {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.event-bridge-form-body{
	max-height: none !important;
}

.build-bridge-close {
	position: fixed;
	top: -24px;
	right: -24px;
}
