
/* FILEUPLOADER */
.image-upload-overlay-message-div{
	text-align: center;
	font-size: 0.9em;
	width: 80%;
	margin: auto;
	position: relative;
	top: -95px;
	background-color: white;
}

.image-upload label{
	height: 150px;
	max-width: 300px;
	width: 100%;
	/* overflow: hidden; */
}
/*.image-upload label > img{
	height: 150px;
	margin: 0 !important;
}*/
.image-upload {
	max-width: 300px;
	width: 100%;
	margin: auto;
	/* position: relative; */
}
.image-upload input
{
	display: none;
}
.center-cropped {
	/* width: 300px; */
	height: 150px;
	background-size: 300px;
	background-position: center center;
	background-repeat: no-repeat;
}

/* #overlay    {*/
.image-upload-overlay {
	height: 150px;
	/*width: 300px;*/
	max-width: 300px;
	width: 100%;
	background:rgba(0,0,0,.75);
	text-align:center;
	padding:45px 0 66px 0;
	opacity:0;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}

.image-upload:hover .image-upload-overlay {
	opacity:1;
}

/*#overlay-text {*/
.image-upload-overlay-text {
	font-family:Helvetica;
	font-weight:300;
	color:rgba(255,255,255,.85);
	font-size:1em;
}

/***********************************/
/***********************************/

/* Tag suggestions */
.tag-suggestion-box:hover {
	background-color: rgba(12, 101, 130, 0.075);
}

.tag-name{
	float:left
}
.tag-count{
	float:right
}

.tagchip{
	cursor: default;
	border-radius: 16px;
	display: block;
	height: 32px;
	line-height: 32px;
	font-size: 15px;
	margin: 4px 4px 0 0;
	padding: 0 12px;
	float: left;
	box-sizing: border-box;
	max-width: 100%;
	position: relative;
	background: rgb(224,224,224);
	color: rgb(66,66,66);
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

.removechip{
	cursor: pointer;
	margin-left:5px;
}
