html {
	font-size: 90%;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

body {
	min-width:1024px;
}

main {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #FFF;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

textarea:focus, input:focus{
	outline: none;
}

.clear {
	clear: both
}

.margin_auto {
	margin-left: auto!important;
	margin-right: auto!important;
}

.large_bottom_margin {
	margin-bottom: 20px!important;
}

.span_4_6{width:66.13%}

.top {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	z-index: 99;
}

.align_centre {
	text-align: center!important;
}


.mdl-dialog.dialog-large{
	min-width: 800px;
}
.mdl-dialog.dialog-medium{
	min-width: 400px;
}

.mdl-textfield{
	width:100%;
}
