#app-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

#panel-1{
	position: relative;
	top: 0;
	bottom: 30px;
	width: 220px;
	/* display: inline-block; */
}

#panel-2{
	position: relative;
	overflow: auto;
	/* width: calc( 100% - 220px - 480px); */
	/* display: flex; */
	flex-direction: column;
	webkit-flex: 1; */
	flex: 1;
	flex: 1;
}

#panel-3{
	position: relative;
	width: 480px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

footer {
	z-index: 10;
	width: 100%;
	text-align: center;
	background-color: #fdb919;
	height: 30px;
	position: fixed;
	bottom: 0px;
	padding-top: 6px;
}


#copyright {
	margin-left: auto;
	margin-right: auto;
	color: #2d2a40;
	font-weight: bold;
}
