.loading-logo{
	position: fixed;
	top: 20px;
	left: 20px;
	width: 120px;
}

.loading-container{
	height: 100%;
	background: linear-gradient(#6AB9E8, #1776C8);
}

.loading-panel {
	float:left;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.loading-panel-avatar{
	height: auto;
	width: 50%;
	margin: auto;
	text-align: center;
	position: relative;
	top: 92px;
	left: 5px;
	z-index: 100;
}

.loading-panel-slogan{
	font-size: 20px;
	color: white;
	position: absolute;
	width: 100%;
	z-index: 150;
	text-align: center;
	padding-top: 120px;
}

.spinner-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.clear-loading {
	text-align: center;
	margin: 0 auto;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
/* Loading Effect One */
.loading-effect-1 {
	width: 100px;
	height: 100px;
}
.loading-effect-1 span {
	display: block;
	-webit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 4px solid #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.loading-effect-1 span:first-child {
	width: 100%;
	height: 100%;
	border-color: #B1C003;
	border-left-color: transparent;
	top: 0;
	left: 0;
	-webkit-animation: effect-1-1 4s infinite linear;
	-moz-animation: effect-1-1 4s infinite linear;
	-ms-animation: effect-1-1 4s infinite linear;
	-o-animation: effect-1-1 4s infinite linear;
	animation: effect-1-1 4s infinite linear;
}
.loading-effect-1 span:nth-child(2) {
	width: 75%;
	height: 75%;
	border-color:  #6AB9E8;
	border-right-color: transparent;
	top: 12.5%;
	left: 12.5%;
	-webkit-animation: effect-1-2 3s infinite linear;
	-moz-animation: effect-1-2 3s infinite linear;
	-ms-animation: effect-1-2 3s infinite linear;
	-o-animation: effect-1-2 3s infinite linear;
	animation: effect-1-2 3s infinite linear;
}
.loading-effect-1 span:last-child {
	width: 50%;
	height: 50%;
	border-color: #6AB9E8;
	border-bottom-color: transparent;
	top: 25%;
	left: 25%;
	-webkit-animation: effect-1-1 4s infinite linear;
	-moz-animation: effect-1-1 4s infinite linear;
	-ms-animation: effect-1-1 4s infinite linear;
	-o-animation: effect-1-1 4s infinite linear;
	animation: effect-1-1 4s infinite linear;
}
@-webkit-keyframes effect-1-1 {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes effect-1-1 {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes effect-1-2 {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
@keyframes effect-1-2 {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
