
nav.top {
	background-color: #2D2A40;
}

nav.top ul{
	list-style-type: none;
	display: inline-block;
	float: right;
	margin: 25px 50px 0 0;
}

nav.top li{
	display: inline-block;
}

nav.top ul a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	color: white;
	margin-left: 9px;
	position: relative;
	cursor: pointer;
	line-height: 1em;
	padding: 8px 7px 9px;
	border-radius: 5px;
	opacity: .8;
}

nav.top ul a:hover{
	opacity:1;
	background:rgba(0,0,0,.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.05)
}

nav .logo {
	background: url(../img/logo-dark-bkg.png) left top no-repeat;
	background-size: 110px 50px;
	height: 50px;
	width: 110px;
	float: left;
	margin: 10px 0 0 20px;
}

.login {
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login a {
	cursor:pointer;
}

.login fieldset {
	padding:2em;
	border-radius:1ex;
	margin-left:auto;
	margin-right:auto;
}

.login fieldset > input {
	width:20em;
	font-size:16pt;
	font-family:sans-serif;
	padding:0.5ex;
	margin-bottom:1em;
}

.login fieldset > input[type="submit"] {
	margin-bottom:0;
	margin-left: 6px;
	cursor:pointer;
}

#loginbtn {
	cursor:pointer;
	width:10em;
	/* width: 50px; */
}
