#bmodal{
	position: fixed;
	top:0;
	left:0;
	background: white;
	background: rgba(0, 0, 0, 0.75);
	height: 100%;
	width: 100%;
	z-index: 1000;
	font-size: 18px;
	line-height: 1.5rem;
	overflow-y: auto;
	overflow-x: hidden;
}

.event-import-open-bridge a {
    cursor: pointer;
}

#left-side-column, #right-side-column {
	display: inline-block;
	width: 10%;
	height:100%;
	vertical-align:top;
}

.bmodal-content {
	display: inline-block;
	width: 80%;
	padding-top: 40px;
	margin-bottom: 7%;
	margin-top: 4%;
	position: relative;
	border-radius: 4px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
	background: #fff;
}
.close-bmodal{
	position: absolute;
	top:24px;
	right:24px;
}
.modal-header {
    min-height: 16.43px;
		padding: 0px;
    padding-left: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.my-modal-header {
	margin-top: -10px;
	margin-bottom: 0px;
}

//IMPORT EVENTS
.event-import-open-bridge a{
	cursor: pointer;
}

//Bridge Settings
.edit-bridge-container{
	width: 80%;
	margin: 0 auto;
	overflow: auto;
}

.edit-bridge-header{
	width:100%;
	height: 50px;
}
