.eventbrite--list > div > div, .eventbrite--list > div > div > div{
    max-width:1020px !important;
}
.newBridge--form > div > div, .newBridge--form > div > div > div{
    max-width:580px !important;
}

.newBridge--form-head{

text-align: right;

margin: 0;

 width: 560px; 

position: absolute;
}

.newBridge--form-head-form{
text-align: right;
margin: 0;
/* width: 560px; */
/* position: absolute; */
/* padding: 10px; */
}
.newBridge--form-image{
    background-position: center center;
    background-size: auto 313px;
    background-repeat: no-repeat;
    /* margin: 0px; */
}

.newBridge--form-image--event{
    background-image: url('../img/events.jpg');
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}
.newBridge--form-image--discussion{
    background-image: url('../img/discussion.jpg');
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.newBridge--form-options{

margin: 0;
}

.newBridge--form-option{

flex: 2;

min-height: 120px;

display: block;

text-decoration: none;

padding: 10px 20px;

font-size: 40px;

color: #c2c2c2;

transition: color 0.5s ease;

font-weight: bold;
}

.newBridge--form-option-add{display: block;font-size: 10px;padding-bottom: 10px;}

.newBridge--form-option-description{
    font-size: 12px;
    padding-top: 10px;
    font-weight: normal;
}

.newBridge--form-option:hover {
    color:#000;
    transition: color 0.5s ease;
}
