.containerChips{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.suggestionItem{
    position: relative;
    height: 90px;
    padding: 6px 12px;
    font-size: 10px;
    line-height: 1.42857143;
    color: #555;
    cursor: pointer;
    max-width: 30%;
    min-width: 30%;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* z-index: 1; */
}

.suggestionItem .tag-name{
    font-size: 12px;
    font-weight: bold;
}

.suggestionItem .ellipsis{
    position: absolute;
    z-index: 2222;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: red;
    /* background: rgba(255,255,255,0); */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(84%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    /* background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%); */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
    /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.suggestionPanel{
    display:flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    padding: 6px 6px 6px 6px;
    font-size: 14px;
    color: #555;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    z-index: 150;
    flex-wrap: wrap;
}
.clearfix:after{
    clear: both;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
