.login-page{
	background: linear-gradient(#6AB9E8, #1776C8);
	height:100vh;
	width: 100%;
}

.login-bg{
	display:flex;
	align-items: center;
	justify-content: center;
}

.login-container{
	width: 350px;
	padding: 30px;
	margin-top: 5%;
}

.topbar-nav { text-align: center; }
.topbar-nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	text-transform: uppercase;
}
.topbar-nav ul li {
	display: inline-block;
}
.topbar-nav ul li a:hover {
	background-color: #1776C8;
}
.topbar-nav ul li a {
	display: block;
	text-decoration: none;
	color: #E4E4E4;
	transition: 0.4s ease background;
	padding: 15px 20px;
}

@media all and (min-width:640px) {

	.topbar-nav {text-align: right;padding: 10px 0 0 0; width: 90%;}
}

.login-logo{
	height: auto;
	width: 70%;
	display: block;
	margin: auto;
}
.login-password-input, .login-email-input{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	height: 2em;
	line-height: 1em;
	padding: 5px;
	background-color: white;
}
.login-email-input{
	margin-bottom: 10px;
}
.login-container .signup{
	text-align: center;
	color: white;
}
.login-container .signup-anchor{
	color: #23E6F4;
}

.login-button{
	width: 104%;
	height: 3.5em;
	background-color: #B1C003 !important;
	-webkit-border-radius: 5px 5px 5px 5px;
}
.login-error{
	color: red;
	text-align: center;
}
