html,body{
    width:100%;
    height:100%;
    font-family: 'Noto Sans', sans-serif;
}
#app,  #app-wrapper{
    width:100%;
    height:100%;
    position:relative;
}

#app main{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    position:relative;
}

#panel-1{
    overflow:hidden;
    width:220px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    position:relative;
    background-color: #f5f5f5;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
}

#panel-2{
    -webkit-transition: flex 1s ease-in-out;
    -moz-transition: flex 1s ease-in-out;
    -o-transition: flex 1s ease-in-out;
    position:relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 2;
}

#panel-3{
    width: calc(50% - 110px);
    height: 100%;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    position:relative;
    flex-direction: column;
    display: flex;
}
#panel-4{
  width: calc(100% / 3);
}


@media only screen and (max-width: 1020px) {
    #panel-1{
      width: 0;
       -webkit-transition: width 1s ease-in-out;
      -moz-transition: width 1s ease-in-out;
      -o-transition: width 1s ease-in-out;
      transition: width 1s ease-in-out;
    }
    #panel-3{
      flex:2;
     width:50%;
       -webkit-transition: flex 1s ease-in-out;
      -moz-transition: flex 1s ease-in-out;
      -o-transition: flex 1s ease-in-out;
      transition: flex 1s ease-in-out;
    }
}


@media only screen and (max-width: 550px) {
    #panel-1 {
      width: 0;
       -webkit-transition: flex 1s ease-in-out, width 1s ease-in-out;
      -moz-transition: flex 1s ease-in-out, width 1s ease-in-out;
      -o-transition: flex 1s ease-in-out, width 1s ease-in-out;
      transition: flex 1s ease-in-out, width 1s ease-in-out;

    }
    #panel-3{
        overflow:hidden;
        width: 0;
        flex:0;
        -webkit-transition: flex 1s ease-in-out;
        -moz-transition: flex 1s ease-in-out;
        -o-transition: flex 1s ease-in-out;
        transition: flex 1s ease-in-out;
    }
    #panel-1.panel-1--fixed{
        width:200px;
        z-index:2;
        float:left;
        position:absolute;
        height: 100%;
        -webkit-transition: width 1s ease-in-out;
      -moz-transition: width 1s ease-in-out;
      -o-transition: width 1s ease-in-out;
      transition: width 1s ease-in-out;
    }
    main.sidebar-right--fixed #panel-2{
        flex:0;
        width:0;
        overflow: hidden;
        -webkit-transition: flex 1s ease-in-out;
      -moz-transition: flex 1s ease-in-out;
      -o-transition: flex 1s ease-in-out;
     }
    main.sidebar-right--fixed #panel-3{
          flex:2;
          height: 100%;
          -webkit-transition: flex 1s ease-in-out;
          -moz-transition: flex 1s ease-in-out;
          -o-transition: flex 1s ease-in-out;
          transition: flex 1s ease-in-out;
          width: 100%
    }
}
