
.new-panel-2{
	/* position:relative; */
	/* display: flex; */
	/* flex-direction: column; */
	/* height: 100%; */
	/* flex: 2; */
}
.new-panel-2-header{
	height:56px;
	position: relative;
	width: 100%;
	z-index:1;
}
.material-icons.panel-header-icon{
	margin-right: 5px;
}

.new-panel-2-messages{
	flex:2;
	overflow:auto;
	z-index:1;
}
#panel-3 .new-panel-2-message:after {
    content: '';
    position: absolute;
    background-color: #fff;
    border-color: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 9px;
    height: 9px;
    margin-left: -5px;
    top: 0;
    left: 0;
}
.new-panel-2-container-messages{
	position: relative;
	background-color:pink;
	flex:2;
	height: 100%;
	overflow:auto;
	z-index:1;
}

.panel-2-edit-message{
	background: #fffce0;
	padding-top: 2px;
	padding-bottom: 2px;
}
.panel-2-edit-message .input{
	padding-left: 10px;
	background-color: white;
}
.panel-2-edit-message-buttons{
	padding-left: 70%;
}

.panel-2-edit-message-buttons .mdl-button {
	margin: 5px 4px;
	font-size: .875rem;
}
.panel-2-edit-message-buttons .mdl-button.save {
	background: #8bc348;
}

.panel-2-edit-message-buttons .mdl-button.save:hover {
    background-color: #6E9243;
}


.first-message {
	min-height: 10em;
	padding: 20px 50px;
	font-size: 1.1em;
	color: #4d394b;
}

.first-message-owner {
	text-align: center;
}

.first-message-owner i {
	position: relative;
	top: 6px;
	margin-right: 5px;
}

.first-message a {
	display: inline-block;
	margin: 0 1rem 1rem 0;
	list-style: none;
	font-size: .9rem;
	margin-left: 2rem;
}

a.first-message-edit-bridge i {
	font-size: 1.7rem;
	margin-right: 2px;
}

.first-message-title{
	font-size: 1.8em;
	margin: 20px 0;
	font-weight: bold;

}
.first-message-text {
	text-align: justify;
}
.first-message-text span.description{
	font-style: italic;
}

.first-message-call-to-action{
	padding: 10px;
}

.new-panel-2-footer{
	z-index:1;
}

/************DAY CONTAINER***************/
.new-panel-2-container{
	padding-left: 20px;
}
.new-panel-2-container h2{
	color: #2c2d30;
	font-size: 11px;
	width:100%;
	text-align:center;
	border-bottom: 1px solid #e8e8e8;
	line-height:0.1em;
	margin:10px 0 20px;
}
.new-panel-2-container h2 span {
	color: #2c2d30;
	font-weight: 700;
	background:#fff;
	padding:0 10px;
}
/*****************************************/
.new-panel-2-message{
	display: flex;
	flex-direction: row;
	padding: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
}
#panel-3 .new-panel-2-message{
	border-left: 1px solid;
    border-color: #1595a8;
    position: relative;
	padding-bottom: 3px;
}
.new-panel-2-message:hover{
	outline:#F3F3F3;
	background-color: #F3F3F3;
}
.new-panel-2-message:hover .new-panel-2-message-content-avatar .new-panel-2-message-content-date,
.new-panel-2-message:hover .new-panel-2-message-options{
	visibility:visible;
}
.new-panel-2-message .new-panel-2-message-content-avatar .new-panel-2-message-content-date,
.new-panel-2-message .new-panel-2-message-options{
	visibility: hidden;
}
.new-panel-2-message-options{
	position: 'absolute';
	right:'0px';
}
.new-panel-2-message-content-avatar{
	width:50px;
	text-align: center;
	vertical-align: text-top;
}
.new-panel-2-message-content-message{
	flex:2;
}
.new-panel-2-message-content-title{
	font-weight: bold;
}
.new-panel-2-message-content-date{
	font-weight: normal;
	font-size: 10px;
	padding-left: 10px;
}
.new-panel-2-message-content-content{
	/* background-color:red; */
	padding: 2px;
}
.new-panel-2-message-content-content img{
	display: inline-block;
	margin: 0;
}
.new-panel-2-message-chat{

}
.new-panel-2-message-file{

}
.new-panel-2-message-url{

}

.message-reply-count{
	cursor: pointer;
	text-align: right;
	font-size: 0.8em;
	font-weight: bold;
	color: #1595a8;
}

.message-reply-count:hover{
	text-decoration: underline;
}

.new-panel-2-embedly{
	color: #9E9E9E;
	font-size: 10px;
}
.new-panel-2-embedly a{
	color: #00BCD4;
	text-align: justify;
}

.new-panel-2-provider-content{
	display: flex;
	flex-direction: row;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	background-color: #F1F1F1;
	color: #8B8B8B;
}
.new-panel-2-provider-content .image{
	width:40px;
	display: inline-block;
	padding: 10px;
}
.new-panel-2-provider-content .description{
	flex:2;
	display: inline-block;
	padding: 10px;
}

.new-panel-2-link-content .content img{
	display: block;
}
.new-panel-2-link-content .content .description{
	display: block;
	text-align: justify;
	font-size: 11px;
	color: #8B8B8B;
}


.new-panel-2-input-message{
	display: flex;
	flex-direction:row;
	/* width: 100%; */
	margin: 4px 4px;
	border: 2px solid #e8e8e8;
	border-radius:6px;
	/*-webkit-box-shadow: inset 2px 2px 2px 0px #e8e8e8;
	-moz-box-shadow: inset 2px 2px 2px 0px #e8e8e8;
	box-shadow: inset 2px 2px 2px 0px #e8e8e8;*/
}
.new-panel-2-input-message:hover{

	border: 2px solid #fafafa;
}
.new-panel-2-input-message .input{
	flex:2;
	/* padding-left: 10px; */
}
.new-panel-2-input-message .input input{
	height: 48px;
	border: 0 none;
	background-color: white;
	padding-left: 10px;

}

.new-panel-2-input-message .input input:focus {
	background-color: white;
	outline: none;
}
.new-panel-2-input-message .emoticon{
	width: 48px;
	color:#00bcd4;
	background: white !important;
}
.new-panel-2-input-message .upload{
	width: 48px;
}

.join-bridge-container{
	text-align: center;
	padding-bottom: 40px;
}

.join-bridge-button-container button {
    background: #8bc348;
}

.join-bridge-text {
	margin-bottom: 5px;
}
