.panel-1-content{
    display:flex;
    flex-direction: column;
    min-width: 220px;
    color: #1595A8;
    overflow: hidden;
}
.panel-1-header{
  background-color: #1595A8;
}
.panel-1-content .logo{
    background-image: url('../img/logo.png');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 10px;
    height: 56px;
}
.panel-1-content .logo .options{
    padding: 0px 2px;
    text-align: right;
    float: right;
}
.panel-1-content .user-info{padding: 5px 10px;display:flex;font-size: 14px;}
.panel-1-content .user-info .info{padding: 5px;flex:2;line-height: 40px;font-weight: bold;font-size: 16px;color: white;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.panel-1-content .user-info .icon .mdl-badge[data-badge]:after{
    background-color: #8bc34a;
    color:white;
}

section#panel1-scroll {background-color: #f5f5f5;padding-left: 10px;padding-top: 10px;overflow: auto;}
.bridge-group .bridge-group-header{

font-weight: bold;

padding: 5px 10px;
}
.material-icons.bridge-group-hide{
  cursor: pointer;
  float: right;
  font-size: 20px;
  padding-right: 5px;
}

.bridge-group .bridge-group-content ul{
    list-style:none;
    padding: 0;
}

.bridge-list-see-more {
    cursor: pointer;
    margin-left: 28px;
    font-size: 0.9em;
    font-style: italic;
}

.bridge-group .bridge-group-content ul li{
    width: 100%;
    position: relative;
}
.bridge-group .bridge-group-content ul li a{
    position: relative;
    display: flex;
    flex-direction: row;
    color: #0c4b55;
    text-decoration: none;
    padding: 5px 10px;
}
.bridge-group .bridge-group-content ul li a:hover{
    color: white;
    background-color: #006271;
}
.bridge-group .bridge-group-content ul li a:hover .icon{
    color: white;
}
.bridge-group .bridge-group-content ul li a:active{
    color: white;
    background-color: #006271;
}
.bridge-group .bridge-group-content ul li a:active .icon{
    color: white;
}
.bridge-group .bridge-group-content ul li a .icon{
    color: #1595A8;
}
.bridge-group .bridge-group-content ul li a .icon .badge{
    padding: 2px 3px;
    border-radius: 2px;
    background: #0a5763;
    color: #fff;
    font-size: 10px;
}
.bridge-group .bridge-group-content ul li a .icon .material-icons{
    font-size:14px;
}

.bridge-group .bridge-group-content ul li a .title{
    flex:2;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
