

section#panel-three {
	float: left;
	width: 48%;
	height: 100%;
}
#panel-content {
	height: 81%;
	overflow-y: auto;
}

.panel-3-header{
	height: 56px;
	position: relative;
	width: 100%;
	background-color: #00bcd4!important;
	/* color: white; */
}

.panel-3-header-search-input{
	position: relative;
	/* float: left; */
	padding-left: 10px;
	font-size: 20px;
	color: rgba(0, 0, 0, .40);
}

.panel-3-header-message{
	/* position: absolute; */
	width: 100%;
	flex: 2;
}

.panel-3-body{
	bottom: 85px;
	top: 130px;
	overflow: auto;
	width: 100%;
	position: absolute;
	flex: 2;
}

.padder-md{
	padding-left: 20px;
    padding-right: 20px;
}

.thread-list .thread-list-item:after {
    content: '';
    position: absolute;
    background-color: #fff;
    border-color: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 9px;
    height: 9px;
    margin-left: -5px;
    bottom: 0;
    left: 0;
}
.thread-list .thread-list-item.thli-success:after, .thread-list.thli-success:after{
	border: none;
}
.thread-list-item:after{
    top: 6px;
    bottom: auto;
}
.thread-list{
	position: relative;
    border-color: #1595a8;
    /*border-left: 1px solid #1595a8;*/
    margin-bottom: 15px;
}

.thread-list-item{
	border-left: 1px solid;
	border-color: #1595a8;
	position: relative;
	padding-bottom: 8px;
	min-height: 40px;
	cursor: pointer;
}
.thli-success{
    border-color: #27c24c;
    border-left: 1px solid #27c24c;
}
.thread-list-title{
	background: #fff;
	border-bottom: solid 1px;
	border-radius: 0;
	min-height: 2.75rem;
	color: #555459;
	position: relative;
	z-index: 50;
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 400;
	padding: 1rem .75rem;
	margin-top: 3px;
	margin-bottom: 12px;
}
/*.thread-list-item{
	display: flex;
	flex-direction: row;
	padding: 5px;
	padding-bottom: 8px;
	padding-top: 8px;
	position: relative;
	border-bottom: 1px solid #e8e8e8;
	cursor: pointer;
	overflow: auto;
}*/

.thread-list-empty {
	position: absolute;
	display: inline-block;
	height: 100px;
	width: 50%;
	cursor: default;
	text-align: center;
	border: 1px dotted;
	top: 50%;
	left: 25%;
}
.thread-list-item-user{
	display:block;
	width: 100%;
}
.thread-list-item:hover{
	outline:#F3F3F3;
	background-color: #F3F3F3;
}

.thread-list-item-message {
	flex:2;
	padding: 2px;
}
.thread-list-item-message-title{
}
.thread-list-item-message-content{
	padding: 2px;
}
.thread-list-item-avatar {
	width:50px;
	text-align: center;
	vertical-align: text-top;
	float: right;
	display: block;
	margin-right: 10px;
}
.thread-list-item-content-notify{
    display: inline-block;
    position: absolute;
    top: 1px;
    left: -7px;
    z-index: 10;
    color: #27c24c;
}
.thread-list-item-content-user{
	font-weight: bold;
	margin-left: 20px;
}
.thli-success .thread-list-item-content-user{
	color: #52910e;
}
.thread-list-item-content-message{
	margin-left: 20px;
}
.panel-3-footerbar{
	position: absolute;
	bottom: 0;
	background-color: white!important;
}


.reply-message-initial{
	text-overflow: ellipsis;
}

.ReplyThread{
	display: flex;
	flex-direction: column;
	height: calc( 100% - 56px );
}

.panel-3-message-content{
	padding: 5px;
}
