.panel-header{
	/*background-color: #eee;*/
}

.panel-header .mdl-layout__header-row{
	 padding: 0 20px 0 20px;
	 height: 56px;
}


.panel-header .mdl-layout__header-row .mdl-layout-title{
	font-size: 16px;
}
