#message-content	.type-event {
	border: solid 1px #DDD;
	border-radius: 4px;
	margin: 15px 0;
	padding: 5px;
}
#message-content		img {
	display: block;
	max-width: 100%;
	height: auto;
}

#message-content div.message {
	clear: both;
	margin-bottom: 10px;
}

#message-content div.avatar > img {
	float: left;
	display: block;
	max-height: 30px;
	margin-left: 10px;
	margin-top: 2px;
	margin-right: auto;
	margin-bottom: 6px;
	border: 1px solid #000000;
}

#message-content div.user-name {
	float: left;
	width: 10%;
	margin: 0 0 5px 10px;
	font-weight: bold;
}

#message-content div.content {
	float: left;
	width: 85%;
	margin-left: 10px;
}
#bridge-content {
	height: calc( 100vh - 86px );
	/* margin: 0; */
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1;
	webkit-flex: 1;
	flex-shrink: 1;
	margin: 0;
}
#bridge-content	.bridge-name {
	float: left;
	width: 60%;
}

#bridge-content	.cnt-filter {
	float: right;
}
.panel-content{
	padding: 20px;
	width:100%;
	display: block;
}

.panel-2-headerbar{
	position: relative;
	/* top: 0; */
	/* width: auto !important; */
	/* width: 20% !important; */
	/* left: 220px; */
	/* right:480px; */
	background-color: #ee!important;
	height: 56px;
}

.search-input {
	float: right;
	margin-right: 10%;
}

.PrimaryMessage{
	padding-bottom: 0!important;
	padding-top: 0!important;
}

.SecondaryMessage > div > div > p {
	webkit-line-clamp: 100!important;
}

.input-message {
	display: flex;
	background: #fff;
	/* border: 2px solid #E0E0E0; */
	border-radius: 0 6px 6px 0;
	background-clip: padding-box;
	/* max-height: 42px; */
	/* padding-bottom: 5px; */
}
.message-textfield {
	width: 100%;
	height: 80%;
	margin-left: 10px;
}
.message-textfield-input {
	flex: 1 0 8em;
	width: 100%;
	font-size: .9375rem;
	line-height: 1.2rem;
	margin: 0;
	color: #3d3c40;
	-webkit-appearance: none;
	box-shadow: none;
	outline: 0;
	position: absolute;
	bottom: 0;
	height: 100%;
	min-height: 15px!important;
	padding: 9px 40px 9px 8px;
	max-height: 160px!important;
	resize: none!important;
	transition: none;
	border-bottom: none;
}
.input-message-emoticon {
	flex: 0 0 auto;
}
.EmojiIcon{
	margin-right:0.4rem;
	display:inline-block;
	padding:0.2rem 0.3rem;
	cursor:pointer;
	position:relative;
	top:2px;
}

.panel2-message{
	display: flex;
	border: 1px solid #ffffff;
	width: 100%;
}
.panel2-message.withAvatar{
	padding-top: 10px;
}
.panel2-message .options{
	float: right;
	position: absolute;
	right: 0;
	display: none;
	margin-top: -7px;
}

.panel2-message:hover{
	border: 1px solid #e8e8e8;
}

.panel2-detail-avatar{
	flex: 0 0 auto;
	width: 60px;
}
.panel2-detail-avatar	.avatar-icon{
	width: 60px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: '10px';
	color: #2c2d30;
}
.panel2-detail-avatar .avatar-date{
	width: 60px;
	padding-top: 5px;
	padding-left: 15px;
	font-size: 11px;
	font-weight: normal;
	color: #c2c2c2;
}
.panel2-detail-avatar .avatar-date	.date{
	display: none;
}

.panel2-detail-message{
	/* flex: 1 0 1em; */
	/* font-size: 100%; */
}
.panel2-detail-message .user{
	font-weight: bold;
}
.panel2-detail-message .user .user-date{
	font-size: 11px;
	font-weight: normal;
	color: #c2c2c2;
}
.panel-2-edit-message{
	background: #fffce0;
	padding-top: 2px;
	padding-bottom: 2px;
}
.panel-2-edit-message .input{
	padding-left: 10px;
	background-color: white;
}
.panel-2-edit-message-buttons .mdl-button {
	margin: 5px 10px;
	font-size: .875rem;
}

.panel-2-footerbar{
	position: relative;
	width: 100%;
	bottom: 7px;
	padding: 5px!important;
	background-color: #FFFFFF !important;
	height: auto!important;
	flex: 1;
}

.join-bridge-container{
	text-align: center;
	margin-bottom: 10px;
}

.join-bridge-text {
    margin-bottom: 5px;
}

#message-content{
	position: absolute;
	height: calc( 100% - 140px);
	width: 100%;
}

Link{
	text-decoration: none
}

.day_container h2 {
	color: #2c2d30;
	font-size: 11px;
	/* width:100%; */
	text-align:center;
	border-bottom: 1px solid #e8e8e8;
	line-height:0.1em;
	margin:10px 0 20px;
	/* background-color: red; */
}
day_container h2 	span {
	color: #2c2d30;
	font-weight: 700;
	background:#fff;
	padding:0 10px;
}


.new-panel-2{
	position:relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 2;
}
.new-panel-2-header{
	height:56px;
	position: relative;
	width: 100%;
	z-index:1;
}

.new-panel-2-messages{
	flex:2;
	overflow:auto;
	z-index:1;
}
.new-panel-2-container-messages{
	position: relative;
	background-color:pink;
	flex:2;
	height: 100%;
	overflow:auto;
	z-index:1;
}

.new-panel-2-footer{
	z-index:1;
}

/************DAY CONTAINER***************/
.new-panel-2-container h2{
	color: #2c2d30;
	font-size: 11px;
	width:100%;
	text-align:center;
	border-bottom: 1px solid #e8e8e8;
	line-height:0.1em;
	margin:10px 0 20px;
}
.new-panel-2-container h2 span {
	color: #2c2d30;
	font-weight: 700;
	background:#fff;
	padding:0 10px;
}
/*****************************************/
.new-panel-2-message{
	display: flex;
	flex-direction: row;
	padding: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
}
.new-panel-2-message:hover{
	outline:#F3F3F3;
	background-color: #F3F3F3;
}
.new-panel-2-message:hover .new-panel-2-message-content-avatar .new-panel-2-message-content-date,
.new-panel-2-message:hover .new-panel-2-message-options{
	visibility:visible;
}
.new-panel-2-message .new-panel-2-message-content-avatar .new-panel-2-message-content-date,
.new-panel-2-message .new-panel-2-message-options{
	visibility: hidden;
}
.new-panel-2-message-options{
	position: 'absolute';
	right:'0px';
}
.new-panel-2-message-content-avatar{
	width:50px;
	text-align: center;
	vertical-align: text-top;
}

.message-content-avatar-onclick {
    cursor: pointer;
}
.new-panel-2-message-content-message{
	flex:2;
}
.new-panel-2-message-content-title{
	font-weight: bold;
}
.new-panel-2-message-content-date{
	font-weight: normal;
	font-size: 10px;
	padding-left: 10px;
}
.new-panel-2-message-content-content{
	/* background-color:red; */
	padding: 2px;
}
.new-panel-2-message-content-content img{
	display: inline-block;
	margin: 0;
}
.new-panel-2-message-chat{

}
.new-panel-2-message-file{

}
.new-panel-2-message-url{

}

.new-panel-2-embedly{
	color: #9E9E9E;
	font-size: 10px;
}
.new-panel-2-embedly a{
	color: #00BCD4;
	text-align: justify;
}

.new-panel-2-provider-content{
	display: flex;
	flex-direction: row;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	background-color: #F1F1F1;
	color: #8B8B8B;
}
.new-panel-2-provider-content .image{
	width:40px;
	display: inline-block;
	padding: 10px;
}
.new-panel-2-provider-content .description{
	flex:2;
	display: inline-block;
	padding: 10px;
}

.new-panel-2-link-content .content img{
	display: block;
}
.new-panel-2-link-content .content .description{
	display: block;
	text-align: justify;
	font-size: 11px;
	color: #8B8B8B;
}


.new-panel-2-input-message{
	display: flex;
	flex-direction:row;
	/* width: 100%; */
	margin: 4px 4px;
	border: 2px solid #e8e8e8;
	border-radius:6px;
	/*-webkit-box-shadow: inset 2px 2px 2px 0px #e8e8e8;
    -moz-box-shadow: inset 2px 2px 2px 0px #e8e8e8;
    box-shadow: inset 2px 2px 2px 0px #e8e8e8;*/
}
.new-panel-2-input-message:hover{

	border: 2px solid #fafafa;
}
.new-panel-2-input-message .input{
	flex:2;
	/* padding-left: 10px; */
}
.new-panel-2-input-message .input input{
	height: 48px;
	border: 0 none;
	background-color: white;
	padding-left: 10px;
}
.new-panel-2-input-message .emoticon{
	width: 48px;
	color:#00bcd4;
	background: white !important;
}
.new-panel-2-input-message .upload{
	width: 48px;
}
