.panel1-header{
	width:220px;
	font-size: 1rem;
	font-weight: 900;
	padding: 1rem;
	color: #fff;
	height: 61px;
	border-bottom: 1px solid #00bcd4;
	cursor: pointer;
}

img.notification-avatar {
    margin-right: 5px;
}

.panel1-notifications {
    position: relative;
}
.panel1-notifications > div > div { /*container*/
	min-width: 400px;
  width:100%;
	box-shadow: 0 5px 10px rgba(0,0,0,.12);
	border-radius: 6px;
	border: 1px solid;
}
.notifications-menu {
	min-width: 380px;
	position: relative;
}
.notification-menu-item{
	width: 100%;
	height: 100px;
}
.notification{
  min-width: 99%;
  border: solid 2px ghostwhite;
  padding: 0 10px;
  min-height: 99%;
  margin: 0 -15px;
}
.notification.follow{
 display: flex;
  align-items: center; /* align vertical */
}

.notification.follow.notseen {
    background-color: #ecf0f7;
}

.panel1-header .title{
	font-size: 1.2rem;
}

#panel1-menu-lower-left{
	float:left;
}

#notifications-menu-button{
	/* float:right; */
}

.panel1-menu div {
	min-width: 150px;
}
.panel1-menu > div > div {
	min-width: 150px;
	box-shadow: 0 5px 10px rgba(0,0,0,.12);
	border-radius: 6px;
	border: 1px solid;
}

.panel1-notifications > div > div {
	min-width: 150px;
	box-shadow: 0 5px 10px rgba(0,0,0,.12);
	border-radius: 6px;
	border: 1px solid;
}

#panel1-scroll{
	height: 420px;
	width: 225px;
}
