
.panel-headerbar-white{
	background-color: #fff !important;
}

.email-input{
	float: left;
	width: 85%;
}

.email-input-remove{
	width: 10%;
	float: right;
	margin-top: 10px;
	padding-left: 10px;
	cursor: pointer;
}

.invite-header{
	text-align: center;
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: -.5px;
	margin-bottom: 10px;
}
.invite-header .bridgename{
	font-size: 2.5rem;
	font-weight: 500;
}
.invite-header-text{
	margin-bottom: 2em;
	margin-top: 2em;
}
.panel4-wrapper{
	/*width: 290px !important;*/
	/*width: calc(100% / 3) !important;*/

}
input[type="email"].inputLighter::-webkit-input-placeholder,
input[type="text"].inputLighter::-webkit-input-placeholder,
textarea.inputLighter::-webkit-input-placeholder{
	color: #7ca1a7;
}
input[type="email"].inputLighter,
input[type="text"].inputLighter,
textarea.inputLighter{
	color: #fff;
}
.panel4-content{
	color: #fff;
	clear: both;
	background: #006271;
	height: 100%;
	font-family: "Noto Sans", sans-serif;

	background-image: -webkit-linear-gradient(-80deg, rgba(0, 0, 0, 0), rgba(0,0,0,.1), rgba(10, 10, 10, 0.08) 66%, rgba(100, 100, 100, 0.1) 66%, rgba(0, 0, 0, 0.1), rgba(50, 50, 50, 0.1));
	background-image: -moz-linear-gradient(-80deg, rgba(0, 0, 0, 0), rgba(0,0,0,.1), rgba(10, 10, 10, 0.08) 66%, rgba(100, 100, 100, 0.1) 66%, rgba(0, 0, 0, 0.1), rgba(50, 50, 50, 0.1));
	background-image: -o-linear-gradient(-80deg, rgba(0, 0, 0, 0), rgba(0,0,0,.1), rgba(10, 10, 10, 0.08) 66%, rgba(100, 100, 100, 0.1) 66%, rgba(0, 0, 0, 0.1), rgba(50, 50, 50, 0.1));
	background-image: -ms-linear-gradient(-80deg, rgba(0, 0, 0, 0), rgba(0,0,0,.1), rgba(10, 10, 10, 0.08) 66%, rgba(100, 100, 100, 0.1) 66%, rgba(0, 0, 0, 0.1), rgba(50, 50, 50, 0.1));
	background-image: linear-gradient(-80deg, rgba(0, 0, 0, 0), rgba(0,0,0,.1), rgba(10, 10, 10, 0.08) 66%, rgba(100, 100, 100, 0.1) 66%, rgba(0, 0, 0, 0.1), rgba(50, 50, 50, 0.1));
	background-image: linear-gradient(-80deg, rgba(0, 0, 0, 0), rgba(0,0,0,.1), rgba(10, 10, 10, 0.08) 36%, rgba(100, 100, 100, 0.1) 36%, rgba(0, 0, 0, 0.1), rgba(50, 50, 50, 0.1))
}
.img-centered{
	margin-left: auto;
	margin-right: auto;
}
.img-rounded{
	border-radius: 50%;
}
#bridge-detail img{
	margin: 1.8em auto;
	width: 210px;
	height: 210px;
	border-radius: 50%;
	display: block;
}
.bridge-det-title{
	color: #fff;
	font-size: 1.48em;
	font-weight: bold;
	margin-bottom: 8px;
}
.bridge-det-name{
	color: #fff;
	font-size: 1.16em;
}
.bridge-det-built{
	color: #e6e5e5;
	font-size: 0.8em;
}
.bridge-det-text{
	color: #fff;
	font-size: 0.9em;
	text-align: justify;
	line-height: 1.36em;
}

.panel4-header{
	box-sizing: border-box;
	height: 56px;
	padding: 0px 24px;
	background: #0096aa;
}

.panel4-title {
	float: left;
	position: relative;
	display: inline-block;
	line-height: 56px;
	font-size: 25px;
	padding-right: 16px;
	padding-left: 10px;
	color: #fff;
}
.panel4-close{
	position: relative;
	float: right;
	font-size: 24px;
	display: inline-block;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	cursor: pointer;
	color: rgba(0, 0, 0, .40);
	line-height: 56px;
	padding-left: 24px;
}

.panel4-profile-avatar img{
	width: 100%;
	margin:'0 auto';
}
.panel4-center-cropped {
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	height: 175px;
	width: 100%;
	margin-top: 10px;
}

.panel4-profile-edit {
	width: 100%;
	margin: 12px;
	text-align: center;
}
.panel4-profile-edit button{
    background: #8bc348;
    color: #fff;
}
.panel4-profile-edit button:hover{
    background: #8bc348;
}

.panel4-profile-follow {
	margin: 12px;
	text-align: center;
}

.panel4-profile-edit .icon{
	margin-right: 12px;
	cursor: pointer;
}

.panel4-profile-follow .follow-button{}

.panel4-profile-content {
	padding: 20px;
	width: 100%;
	display: block;
}

.panel4-profile-item {
	padding: 20px;
}

.panel4-profile-item > .website{
	width: 65%;
	overflow-x: hidden;
	margin-left: 3em;
}

.profile-item-label {
	float: left;
	color: #a0a0a2;
}

.profile-item-text {
	float: left;
	margin-left: 4em;
}
.profile-item-name {
	text-align: center;
	font-size: 1.6em;
}

.panel4-profile-divider{
	border-top: 1px solid #DDD;
	border-bottom: none;
	margin: 1rem 0;
	width: 100%;
}

.bio-profile-label {
	float:none!important;
}

.bio-profile-text {
	margin-right: 4em;
}


/* Bridge Detail */

.panel4-bridge-edit{
	margin: 20px;
	float: right;
	display: block;
}
.panel4-bridge-edit i {
	float: right;
	margin-right: 12px;
	cursor: pointer;
}

.panel4-bridge-content {
	padding: 20px;
	display: block;
}

.panel4-bridge-item {
	padding: 20px;
}

.bridge-item-label {
	float: left;
	color: #a0a0a2;
}

.bridge-item-text {
	float: left;
	margin-left: 4em;
}

.desc-bridge-label {
	float:none!important;
}

.desc-bridge-text {
	margin-right: 4em;
}
.center-loading-block{
	display: inline-block;
	margin: 36% auto;
}
.center-loading-block .loading{
	color: #fff;
	font-size: 4em;
	text-align: center;
}
