.user-profile-settings-photo{
	width:50%;
	margin:auto;
	text-align: center;
}

/* OLD CSS */
#profile-settings label, .form-control, textarea {
	display: block;
	margin-top: 5px;
}

#profile-settings  textarea {
	width: 100%;
}

#profile-settings .input-group img {
	display: block;
	margin: 15px;
	vertical-align: inherit;
}
.edit-profile-title h1{
	font-size: 2em;
    color: #727272;
    margin-top: 10px;
    margin-bottom: 10px;
}
.uptags-tooltip{
	display: inline;
	position: relative;
}
.uptags-tooltip:hover:after{
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	bottom: 40px;
	color: #fff;
	content: attr(data-title);
	left: 13%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 200px;
}
.uptags-tooltip:hover:before{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 35px;
	content: "";
	left: 40%;
	position: absolute;
	z-index: 99;
}
