.search-list{
	height: 450px;
}

.search-results-content{
}

.search-message-result{
	border-top: 2px solid #e8e8e8;
	margin-top: 5px;
	margin-left: 10px;
}

.search-message-content{
	font-size: 0.8em;
	position: relative;
	box-shadow: 0 1px 10px #e3e3e3;
	z-index: 3;
	overflow: hidden;
	margin-top: 5px;
	margin-left: -8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	border-radius: 6px;
	background: #FFF;
	border: 1px solid #e3e3e3;
	transition: border-color .1s;
}
.search-message-content em {
	background: #fff3b8;
	font-style: normal;
}

.search-message-bridge-name {
		font-size: 1rem;
		color: #AAA;
		margin: .1rem .25rem 0;
}

.search-message{
	display: flex;
	border: 1px solid #ffffff;
}
.search-message.withAvatar{
	padding-top: 10px;
}

.search-message-content:hover{
	border: 2px solid #e8e8e8;
}

.search-detail-avatar{
	flex: 0 0 auto;
	width: 60px;
}
.search-detail-avatar	.avatar-icon{
	width: 60px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: '10px';
	color: #2c2d30;
}

.search-detail-message .user{
	font-weight: bold;
}
.search-detail-message .user .user-date{
	font-size: 11px;
	font-weight: normal;
	color: #c2c2c2;
}
