.onboarding-container{
	height: 100%;
	background: linear-gradient(#6AB9E8, #1776C8);
	overflow: overlay;
}
.onboarding-main{
	color: white;
	width: 50%;
	overflow: overlay;
	min-height: 100%;
}

.onboarding-tags-button {
	margin: 0 auto;
}

.onboarding-tags-input {
	display: inline-block;
	width: 90%;
	margin: 0 auto;
}
.onboarding-main-header{
	padding-top: 15px;
	padding-left: 20px;
	height: 100%;
}
.onboarding-main-header-logo{
	width: 129px;
	height: 39px;
	display: inline-block;
	background: url('/assets/img/chakachat-logo_smll.png') no-repeat center center;
	background-size: contain;
}
.onboarding-main-header-logo a{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 129px;
	height: 39px;
	display: inline-block;
}

.onboarding-main-content{
	padding: 40px 10px 0;
	margin-bottom: 20px;
	min-height: 550px;
}
.onboarding-main-content-header{
	padding-bottom: 30px;
	height: 100%;
}
.onboarding-username-form,
.onboarding-profile-form,
.onboarding-tags-form{
	/* background-color: transparent; */
	/* height: 100%; */
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 2em;
}

.onboarding-profile-form-details {
	margin-top: 20px;
}
.onboarding-username-form-enter{
	margin-bottom: 15px;
}
.onboarding-username-form-input{
	display: inline-block;
}
.onboarding-username-form-input .mdl-textfield{
	width:auto;
	max-width: 250px;
}
.onboarding-username-form-input .mdl-textfield__input{
	line-height: 1.8em;
	font-size: 24px;
	text-align: center;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.onboarding-username-form-input .mdl-textfield__label{
	font-size: 24px;
	margin-bottom: -1px;
	top: 35px;
	text-align: center;
}
.onboarding-username-form-input .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.onboarding-username-form-input .mdl-textfield--floating-label.is-focused .mdl-textfield__label{
	font-size: 24px;
}

.onboarding-username-form .mdl-button{
	font-size: 20px;
	height: 40px;
}
.onboarding-username-form-tick{
	display: inline-block;
	width: 40px;
	height: 35px;
}

.onboarding-profile-form{
	display: inline;
}
.onboarding-profile-form .mdl-textfield__label{
	margin-bottom: -1px;
}

.onboarding-profile-form-photo{
	width:50%;
	margin:auto;
	text-align: center;
	/* position: relative; */
}

.profile-form-details-lastname,
.profile-form-details-firstname{
	display: inline-block;
	max-width: 200px;
	margin-right: 20px;
}
.onboarding-profile-form-button .mdl-button{
	font-size: 20px;
	height: 40px;
}

.onboarding-tags-form-input{
	margin-bottom: 10px;
}

.onboarding-step-name{
	font-size: 24px;
	font-weight: 700;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}
.onboarding-step-description{
	font-size: 16px;
	margin: 10px auto 0;
	line-height: 24px;
	max-width: 410px;
	text-align: center;
}

.onboarding-main-footer{
	position: relative;
	width: 100%;
	margin-top: -80px;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	clear: both;
	line-height: 24px;
	display: inline-block;
}

.terms-of-service {
	text-align: center;
	margin-top: 10px;
	font-size: small;
}
.onboarding-steps{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	height: 24px;
	white-space: nowrap;
}
.onboarding-step{
	border-color: #D6D8DB;
	border-radius: 4.5px;
	box-sizing: border-box;
	width: 9px;
	height: 9px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 11px 11px;
	position: relative;
	z-index: 1;
	position: relative;
	display: inline-block;
	margin: 0 5.5px;
	font-weight: 600;
	line-height: 9px;
	overflow: visible;
	border-width: 1px;
	border-style: solid;
}
.onboarding-step.selected{
	border-color: #47BBD8;
	background-color: white;
}

.onboarding-sidemedia{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 50%;
	background-size: cover;
	background-position: center center;
}

/************************************************/

.welcome-middle {
	padding-top: 20px;
	margin-bottom: 7%;
	position: relative;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.welcome-page{
	position: fixed;
	height: 100%;
	width: 100%;
	background: linear-gradient(#00bcd4, white);
}
.welcome2-page{
	position: fixed;
	height: 100%;
	width: 100%;
	background: linear-gradient(#00bcd4, white);
	overflow: auto;
	padding-bottom: 20px;
}
.welcome-header{
	margin-top:2em;
	width:100%;
	margin-right: auto;
	margin-left: auto;
}

.welcome-header img{
	width: 200px;
}

.welcome-sub-title {
	color: white;
	text-align: center;
	font-size: 2em;
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
}

.welcome-appear {
	opacity: 0.01;
}

.welcome-appear.welcome-appear-active {
	opacity: 1;
	transition: opacity 2s ease-in;
}
.welcome-enter {
	opacity: 0.01;
}

.welcome-enter.welcome-enter-active {
	opacity: 1;
	transition: opacity 1s ease-in;
}

.welcome-leave {
	visibility: hidden;
	height: 0px;
	width: 0px;
	opacity: 1;
}

.welcome-leave.welcome-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}

#check {
	fill: none;
	stroke: green;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-dasharray: 180;
	stroke-dashoffset: 180;
	animation: draw 2s forwards ease;
}
@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}
